#aloja-page-main {
  background-color: #d6d3d1;
  flex: 1;
}

#aloja-page-section {
  padding-top: calc(var(--spacing) * 25);
  padding-bottom: calc(var(--spacing) * 10);
}

#aloja-info-div {
  background-color: white;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.75rem;
  padding: calc(var(--spacing) * 4);
  width: calc(11 / 12 * 100%);
  max-width: 24rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing) * 8);
  @media (width >= 48rem) {
    padding: calc(var(--spacing) * 6);
    width: fit-content;
    max-width: 64rem;
  }
  @media (width >= 64rem) {
    flex-direction: row;
  }
}

#aloja-info-carrusel {
  position: relative;
  width: 100%;
  height: calc(var(--spacing) * 48);
  margin-inline: auto;
  @media (width >= 48rem) {
    width: calc(var(--spacing) * 96);
    height: calc(var(--spacing) * 64);
  }
  @media (width >= 64rem) {
    margin-inline: 0;
  }
}

#aloja-info-datos {
  width: 100%;
  @media (width >= 64rem) {
    width: 50%;
  }
}

#aloja-info-form {
  margin-top: calc(var(--spacing) * 4);
}

.skeleton-info-div {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  margin-inline: auto;
  background-color: #a6a09b;
  border-radius: 0.375rem;
  padding-block: calc(var(--spacing) * 10);
  display: block;
  justify-content: center;
  align-items: center;
  max-width: calc(11 / 12 * 100%);
  @media (width >= 64rem) {
    display: flex;
    max-width: 64rem;
  }
}

.skeleton-info-img {
  height: calc(var(--spacing) * 44);
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 0.25rem;
  @media (width >= 48rem) {
    width: 480px;
  }
  @media (width >= 64rem) {
    height: calc(var(--spacing) * 88);
  }
}

.skeleton-info-p-div {
  padding: calc(var(--spacing) * 5);
  width: calc(var(--spacing) * 80);
  :where(& > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * 4) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * 4) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.skeleton-info-p {
  height: calc(var(--spacing) * 4);
  background-color: #e5e7eb;
  border-radius: 0.25rem;
}

.skeleton-info-p-1 {
  width: 75%;
}
.skeleton-info-p-2 {
  width: 50%;
}
.skeleton-info-p-3 {
  width: 25%;
}
.skeleton-info-p-4 {
  width: 75%;
}
.skeleton-info-p-5 {
  width: 50%;
}

.skeleton-info-button {
  padding-block: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 3);
  margin-block: calc(var(--spacing) * 3);
  background-color: #e5e5e5;
  border-radius: 0.375rem;
  height: calc(var(--spacing) * 8);
  width: calc(var(--spacing) * 22);
}
