#main-alojamientos {
  min-height: 100vh;
  background-color: #f5f5f4;
  padding-top: calc(var(--spacing) * 21);
  padding-bottom: calc(var(--spacing) * 10);
}

#div-alojamientos {
  position: relative;
  min-height: calc(var(--spacing) * 260);
  @media (width >= 48rem) {
    min-height: calc(var(--spacing) * 240);
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#div-listado-alojamientos {
  padding-inline: calc(var(--spacing) * 8);
}

.sidebar-open {
  @media (width >= 48rem) {
    margin-left: calc(var(--spacing) * 84);
  }
}

.sidebar-close {
  margin-left: 0;
}

#alojamientos-title {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
  font-weight: 700;
  text-align: center;
  color: #1e2939;
  margin-bottom: calc(var(--spacing) * 10);
  letter-spacing: 0em;
  filter: 0 1px 1px rgb(0 0 0 / 0.05);
  &:hover {
    color: #193cb8;
  }
}

.transition-colors {
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#aloja-cards-container {
  display: grid;
  gap: calc(var(--spacing) * 8);
  @media (width >= 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (width >= 64rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  max-width: 80rem;
  margin-inline: auto;
}

.alojamiento-card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  &:hover {
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  border: 1px solid #d1d5dc;
  padding: calc(var(--spacing) * 4);
  width: 100%;
  max-width: 24rem;
  margin-inline: auto;
}

.transition {
  transition-property:
    color,
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --tw-gradient-from,
    --tw-gradient-via,
    --tw-gradient-to,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter,
    display,
    content-visibility,
    overlay,
    pointer-events;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.aloja-info-link {
  position: relative;
  width: 100%;
  height: calc(var(--spacing) * 48);
  margin-bottom: calc(var(--spacing) * 3);
}

.carrusel-div {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  overflow: hidden;
}

.carrusel-div img {
  object-fit: cover;
  border-radius: 0.375rem;
}

.button-carrusel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffffb0;
  &:hover {
    background-color: #ffffffe0;
  }
  border-radius: calc(infinity * 1px);
  padding: calc(var(--spacing) * 2);
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  z-index: 10;
}

.button-carrusel-left {
  left: calc(var(--spacing) * 2);
}

.button-carrusel-right {
  right: calc(var(--spacing) * 2);
}

.carrusel-dots {
  position: absolute;
  bottom: calc(var(--spacing) * 2);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 1);
}

.carrusel-dot {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}

.carrusel-dot-on {
  color: #e2e8f0;
}

.carrusel-dot-off {
  color: #99a1af;
}

.aloja-info {
  & > :not(:last-child) {
    --value: 3;
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * var(--value)) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * var(--value)) * calc(1 - var(--tw-space-y-reverse))
    );
  }
  text-align: left;
}

.aloja-info-title {
  font-size: 1.875rem;
  line-height: calc(2.25 / 1.875);
  font-weight: 700;
  color: #193cb8;
  margin-bottom: calc(var(--spacing) * 3);
  &:hover {
    color: #162456;
  }
}

.aloja-info-desc {
  color: #1e2939;
}

.aloja-info-precio {
  color: #00a63e;
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
  font-weight: 700;
}

.aloja-info-cant {
  color: #364153;
}

.aloja-info-direc {
  color: #4a5565;
  font-style: italic;
}

.skeleton-card-div {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  margin-inline: auto;
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: calc(var(--spacing) * 6);
  & > :not(:last-child) {
    --value: 4;
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * var(--value)) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * var(--value)) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.skeleton-card-img {
  height: calc(var(--spacing) * 48);
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 0.25rem;
}

.skeleton-card-p {
  height: calc(var(--spacing) * 4);
  background-color: #e5e7eb;
  border-radius: 0.25rem;
}

.skeleton-card-p-1 {
  width: 75%;
}
.skeleton-card-p-2 {
  width: 50%;
}
.skeleton-card-p-3 {
  width: 75%;
}
.skeleton-card-p-4 {
  width: 25%;
}

.paginador-div {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacing) * 6);
  :where(& > :not(:last-child)) {
    --tw-space-x-reverse: 0;
    margin-inline-start: calc(
      calc(var(--spacing) * 1.5) /* 0.375rem = 6px */ *
        var(--tw-space-x-reverse)
    );
    margin-inline-end: calc(
      calc(var(--spacing) * 1.5) /* 0.375rem = 6px */ *
        calc(1 - var(--tw-space-x-reverse))
    );
  }
}

.paginador-button {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  border-width: 1px;
  border-radius: 0.25rem;
}

.paginador-button-on {
  background-color: white;
  &:hover {
    background-color: #e5e7eb;
  }
}

.paginador-button-off {
  background-color: #1447e6;
  color: white;
}

.paginador-button-hidden {
  display: none;
}
