.auth-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f5f5f4;
  padding-top: calc(var(--spacing) * 21);
  padding-bottom: calc(var(--spacing) * 10);
}

.auth-title {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
  font-weight: 700;
  text-align: center;
  color: #1e2939;
  margin-bottom: calc(var(--spacing) * 7);
  letter-spacing: 0em;
  filter: 0 1px 1px rgb(0 0 0 / 0.05);
  &:hover {
    color: #193cb8;
  }
}

.auth-panel {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  margin-inline: auto;
  padding: 1.25rem;
  box-shadow: 0 8px 18px rgba(15, 23, 42, 0.05);
  width: calc(11 / 12 * 100%);
  max-width: 24rem;
}

.auth-subtitle {
  font-size: 1.5rem;
  line-height: calc(2.5 / 2.25);
  font-weight: 700;
  text-align: center;
  color: #1e2939;
  margin-bottom: calc(var(--spacing) * 5);
  filter: 0 1px 1px rgb(0 0 0 / 0.05);
}

.button-row {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.btn {
  border: 1px solid;
  border-radius: 15px;
  padding: 0.65rem 1rem;
  margin-inline: auto;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: #a50028;
  color: #f8fafc;
  transition:
    background 0.15s ease,
    color 0.15s ease,
    border-color 0.15s ease;
  &:hover {
    border: 1px solid;
    background: #f8fafc;
    color: #a50028;
  }
}

.button-row svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.auth-panel p {
  text-align: center;
  margin-top: 1.5rem;
}
