#boton-filtrar {
  position: absolute;
  top: 0;
  left: calc(var(--spacing) * 2);
  @media (width >= 48rem) {
    left: calc(var(--spacing) * 4);
  }
  z-index: 10;
  background-color: #44403b;
  color: white;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  border-radius: 0.25rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  &:hover {
    background-color: #79716b;
  }
}

#barra-lateral-div {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--spacing) * 80);
  background-color: white;
  z-index: 40;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
}

.transition-transform {
  transition-property: transform, translate, scale, rotate;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-div-open {
  margin-inline: calc(var(--spacing) * 1);
  @media (width >= 48rem) {
    margin-inline: calc(var(--spacing) * 2);
  }
}

.sidebar-div-close {
  translate: -100% 0;
}

#barra-lateral-close {
  position: absolute;
  top: calc(var(--spacing) * 3);
  right: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 1);
  z-index: 60;
  color: #4a5565;
  &:hover {
    color: black;
  }
}

#filtros-div {
  padding: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) * 10);
  height: 100%;
}

#filtros-title {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
  font-weight: 800;
  text-align: center;
  color: black;
  margin-bottom: calc(var(--spacing) * 10);
}

#inputs-div {
  padding: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 3);
  margin-inline: auto;
  background-color: white;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
  & > :not(:last-child) {
    --value: 3;
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * var(--value)) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * var(--value)) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.text-input-label {
  display: block;
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  color: #364153;
  margin-bottom: calc(var(--spacing) * 1);
}

.text-input {
  background-color: white;
  width: 100%;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  border-radius: 0.25rem;
  border: 1px solid #d1d5dc;
  &:focus {
    outline-style: none;
    box-shadow: 0 0 0 2px;
  }
}

#lat-long-div {
  background-color: #f9fafb;
  border: 1px solid #99a1af;
  padding: calc(var(--spacing) * 4);
  border-radius: 0.25rem;
  & > :not(:last-child) {
    --value: 2;
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * var(--value)) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * var(--value)) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.checkboxes-div {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (width >= 40rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  gap: calc(var(--spacing) * 7);
}

.checkbox-div {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.checkbox-label {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}
