#formulario {
  position: relative;
}

#abrir-formulario-button {
  margin-top: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 6);
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: white;
  font-weight: 600;
}

.abrir-form-button-off {
  background-color: #1e2939;
  cursor: not-allowed;
}

.abrir-form-button-on {
  background-color: #009966;
  &:hover {
    background-color: #007a55;
  }
}

.transition {
  transition-property:
    color,
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --tw-gradient-from,
    --tw-gradient-via,
    --tw-gradient-to,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter,
    display,
    content-visibility,
    overlay,
    pointer-events;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

#form-div {
  position: absolute;
  top: 25%;
  transform: translateY(-75%);
  background-color: white;
  padding: calc(var(--spacing) * 5);
  border-radius: 0.75rem;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-width: 1px;
  width: calc(var(--spacing) * 80);
  z-index: 10;
  @media (width >= 64rem /* 1024px */) {
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--spacing) * 45);
  }
}

#form-title {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  font-weight: 700;
  margin-bottom: calc(var(--spacing) * 4);
  color: #1e2939;
}

#form-close {
  position: absolute;
  top: calc(var(--spacing) * 3);
  right: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 1);
  color: #4a5565;
  &:hover {
    color: black;
  }
}

#form-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
}

.form-label {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  font-weight: 500;
  color: #4a5565;
  margin-bottom: calc(var(--spacing) * 1);
}

.form-input {
  border: 1px solid #d1d5dc;
  padding: calc(var(--spacing) * 2);
  border-radius: 0.375rem;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00bc7d;
  }
}

#form-submit {
  margin-top: calc(var(--spacing) * 2);
  color: white;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border-radius: 0.5rem;
  font-weight: 500;
}

.form-submit-off {
  background-color: #1e2939;
  cursor: not-allowed;
}

.form-submit-on {
  background-color: #155dfc;
  &:hover {
    background-color: #1447e6;
  }
}

#mensaje-reserva {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  margin-top: calc(var(--spacing) * 2);
}

#mensaje-reserva-span {
  margin-left: calc(var(--spacing) * 2);
  animation: spin 1s linear infinite;
  height: calc(var(--spacing) * 5);
  width: calc(var(--spacing) * 5);
}
