#root-header {
  width: 100%;
  background: #a6a09bd0;
  backdrop-filter: blur(12px);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: fixed;
  z-index: 50;
}

#root-nav {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  padding: calc(var(--spacing) * 3);
  height: calc(var(--spacing) * 16);
}

.nav-links {
  color: black;
}

.transition-colors {
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links:hover {
  color: #f5f5f5;
}

#usuario-label {
  margin-right: calc(var(--spacing) * 2);
}

#usuario {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
  border-radius: 0.25rem;
}

.text-black {
  color: black;
}

.text-gray {
  color: #6a7282;
}

#logo {
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 6);
}

#sandwich-logo {
  @media (width >= 40rem) {
    display: none;
  }
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  margin-left: auto;
  margin-right: calc(var(--spacing) * 5);
}

#nav-links,
#usuario-setter,
#notificaciones {
  display: none;
  @media (width >= 40rem) {
    display: flex;
  }
  align-items: center;
}

#nav-links {
  gap: calc(var(--spacing) * 6);
  margin-right: auto;
}

#notificaciones {
  margin-right: calc(var(--spacing) * 1);
}

#notificaciones-int {
  position: relative;
  padding: 0 calc(var(--spacing) * 1);
  margin: 0 calc(var(--spacing) * 2);
}

#notificaciones button {
  position: relative;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

#notificaciones img:hover {
  opacity: 80%;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out both;
}

.sin-leer-count {
  position: absolute;
  top: calc(var(--spacing) * -1);
  right: calc(var(--spacing) * -1);
  background-color: #e7000b;
  color: white;
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);
  font-weight: 700;
  border-radius: calc(infinity * 1px);
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
}

#lista-notificaciones {
  position: absolute;
  right: 0;
  margin-top: calc(var(--spacing) * 2);
  width: calc(var(--spacing) * 72);
  background-color: white;
  color: black;
  border-width: 1px;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
  padding: calc(var(--spacing) * 2);
  max-height: calc(var(--spacing) * 64);
  overflow: auto;
  z-index: 50;
}

#lista-notif-titulo {
  text-align: center;
  font-weight: 700;
  margin-bottom: calc(var(--spacing) * 2);
}

#sin-notificaciones {
  text-align: center;
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}

.div-mensaje {
  border-bottom-width: 1px;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  border-radius: 0.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  cursor: pointer;
}

.mensaje-leido {
  background-color: white;
  color: #6a7282;
}

.mensaje-sin-leer {
  background-color: #fefce8;
  color: black;
  font-weight: 600;
}

.span-sin-leer {
  margin-right: calc(var(--spacing) * 1);
}

#sandwich-menu {
  @media (width >= 40rem) {
    display: hidden;
  }
  background: #a6a09bd0;
  width: 100%;
  z-index: 20;
  padding: 0 calc(var(--spacing) * 4);
  & > :not(:last-child) {
    --value: 3;
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * var(--value)) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * var(--value)) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}
