:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #ffffff;
  color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spacing: 0.25rem;
}

* {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  background-color: #0000;
}

a {
  text-decoration: inherit;
}

menu,
ol,
ul {
  list-style: none;
}
