#reservas-main {
  min-height: 100vh;
  background-color: #e5e5e5;
  padding: calc(var(--spacing) * 21) calc(var(--spacing) * 4)
    calc(var(--spacing) * 10);
}

#reservas-title {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
  font-weight: 700;
  text-align: center;
  color: black;
  margin-bottom: calc(var(--spacing) * 10);
}

#reservas-empty {
  text-align: center;
  color: #4a5565;
  margin-bottom: calc(var(--spacing) * 8);
}

#reservas-cards-container {
  display: grid;
  gap: calc(var(--spacing) * 8);
  max-width: 80rem;
  margin-inline: auto;
  @media (width >= 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (width >= 64rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.skeleton-card-div {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  margin-inline: auto;
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: calc(var(--spacing) * 6);
  & > :not(:last-child) {
    --value: 4;
    --tw-space-y-reverse: 0;
    margin-block-start: calc(
      calc(var(--spacing) * var(--value)) * var(--tw-space-y-reverse)
    );
    margin-block-end: calc(
      calc(var(--spacing) * var(--value)) * calc(1 - var(--tw-space-y-reverse))
    );
  }
}

.skeleton-card-p {
  height: calc(var(--spacing) * 4);
  background-color: #e5e7eb;
  border-radius: 0.25rem;
}

.skeleton-card-p-1 {
  width: 75%;
}
.skeleton-card-p-2 {
  width: 50%;
}
.skeleton-card-p-3 {
  width: 50%;
}
.skeleton-card-p-4 {
  height: calc(var(--spacing) * 3);
  width: 50%;
}

.skeleton-card-p-5 {
  height: calc(var(--spacing) * 3);
  width: calc(1 / 3 * 100%);
}

.skeleton-card-p-6 {
  height: calc(var(--spacing) * 3);
  width: calc(1 / 3 * 100%);
}

.skeleton-card-p-7 {
  height: calc(var(--spacing) * 3);
  margin-top: calc(var(--spacing) * 2);
  width: 25%;
}

.skeleton-card-p-8 {
  margin-top: calc(var(--spacing) * 2);
  margin-left: auto;
  width: 25%;
}

.reserva-card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: calc(var(--spacing) * 6);
  border: 1px solid #e5e7eb;
}

.reserva-text-lg {
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
  color: #1e2939;
}

.reserva-text-md {
  font-size: 1rem;
  line-height: calc(1.5 / 1);
  color: #364153;
}

.reserva-text-sm {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  color: #4a5565;
}

.reserva-text-last {
  margin-top: calc(var(--spacing) * 2);
}

.reserva-card-buttons {
  display: flex;
  justify-content: end;
  gap: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 4);
}

.ventana {
  position: relative;
}

.abrir-ventana-button {
  color: white;
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  font-weight: 500;
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 4);
  border-radius: 0.25rem;
}

.abrir-vent-button-off {
  background-color: #1e2939;
  cursor: not-allowed;
}

.abrir-vent-button-on-blue {
  background-color: #155dfc;
  &:hover {
    background-color: #1447e6;
  }
}

.abrir-vent-button-on-red {
  background-color: #e7000b;
  &:hover {
    background-color: #c10007;
  }
}

.transition {
  transition-property:
    color,
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --tw-gradient-from,
    --tw-gradient-via,
    --tw-gradient-to,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter,
    display,
    content-visibility,
    overlay,
    pointer-events;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.vent-div-blue {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-75%);
  background-color: white;
  padding: calc(var(--spacing) * 5);
  border-radius: 0.75rem;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-width: 1px;
  width: calc(var(--spacing) * 80);
  z-index: 10;
  @media (width >= 64rem /* 1024px */) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.vent-div-red {
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateX(calc(-2 / 3 * 100%)) translateY(-75%);
  background-color: white;
  padding: calc(var(--spacing) * 5);
  border-radius: 0.75rem;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-width: 1px;
  width: calc(var(--spacing) * 80);
  z-index: 10;
  @media (width >= 64rem /* 1024px */) {
    top: 50%;
    transform: translateX(calc(-2 / 3 * 100%)) translateY(-50%);
  }
}

.vent-title {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  font-weight: 700;
  margin-bottom: calc(var(--spacing) * 4);
  color: #1e2939;
}

.vent-close {
  position: absolute;
  top: calc(var(--spacing) * 3);
  right: calc(var(--spacing) * 3);
  color: #4a5565;
  &:hover {
    color: black;
  }
}

.vent-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
}

.vent-label {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  font-weight: 500;
  color: #4a5565;
  margin-bottom: calc(var(--spacing) * 1);
}

.vent-input {
  border: 1px solid #d1d5dc;
  padding: calc(var(--spacing) * 2);
  border-radius: 0.375rem;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00bc7d;
  }
}

.vent-submit {
  margin-top: calc(var(--spacing) * 2);
  color: white;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border-radius: 0.5rem;
  font-weight: 500;
}

.vent-submit-off {
  background-color: #1e2939;
  cursor: not-allowed;
}

.vent-submit-on {
  background-color: #155dfc;
  &:hover {
    background-color: #1447e6;
  }
}
